{% extends 'page_pattern.html' %}

{% block content %}
    <h5 class="card-title">Game history</h5>
    <hr>
    {% for h in history %}
        {% if h.step > 0 %}
            <p><i>Step #{{ h.step }}:  <b>{{ h.res }}</b></i></p>
            {% if h.res == 'You got it right!' %}
                <p>You got <b>{{ h.secret_num }}</b> in {{ h.step }} steps.</p>
                <hr>
            {% endif %}
        {% endif %}
    {% endfor %}
    <hr>
    <a href="/">Back to the game</a>
{% endblock %}